@import '../../configs/config.css';

.container {
    padding: 0 15px 15px 15px;
}

.line {
    height: 5px;
    background-color: var(--textColor);
    margin: 15px 0 25px;
    border-radius: 3px;
}

.content {
    display: flex;
    align-items: flex-start;
}

.icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    background-image: url('./images/bucket.png');
}

.barContainer {
    flex: 1 1 0;
}

.barWrapper {
    border: 3px solid var(--textColor);
    border-radius: 14px;
    padding: 1px;
}

.bar {
    height: 16px;
    background-color: blueviolet;
    border-radius: 8px;
}

.subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.percent {
    text-align: center;
    font-size: 25px;
    color: var(--textColor);
    margin-left: 10px;
}
